<%- include("../../includes/head")  %> 
<body>

    <%- include("../../includes/header")  %>

<main class ="home-main">
    <form action="/users/login" class ="main-form" method ="POST">

        <fieldset class="main-control" >
            <label class="titulo" for="email">Email</label>
            <input class="entradas" type="email" name="email"  placeholder="Email" value = <%= locals.old && old.email ? old.email : ""%> >
        </fieldset>
        <% if (locals.errors && errors.email) { %>
          
            <p class ="feedback-errors">* <%= errors.email.msg %></p>

    <% } %>
        
        <fieldset class="main-control" >
            <label  class="titulo" for="password" >Contraseña</label>
            <input class="entradas" type="password" name="password"  placeholder="Contraseña">
        </fieldset>

        <% if (locals.errors && errors.password) { %>
          
            <p class ="feedback-errors">* <%= errors.password.msg %></p>

    <% } %>
    
            <fieldset class="button">
                <input class="button-1" type="submit" name="enviar" id="" placeholder="Enviar">
                
                
            </fieldset>
    
    </form>

</main>



<%- include("../../includes/footer")  %>


</body>
</html>

