<%- include("../../includes/head")  %> 
<body>

    <%- include("../../includes/header")  %>

<main class ="home-main">
    <form action="/users/login" class ="main-form" method ="POST">

        <fieldset class="main-control" >
            <label class="titulo" for="nombreUsuario">Nombre de Usuario</label>
            <input class="entradas" type="text" name="nombreUsuario"  placeholder="Nombre de Usuario" value = <%= locals.old && old.nombreUsuario ? old.nombreUsuario : ""%> >
        </fieldset>
        <% if (locals.errors && errors.nombreUsuario) { %>
          
            <p class ="feedback-errors">* <%= errors.nombreUsuario.msg %></p>

    <% } %>
        
        <fieldset class="main-control" >
            <label  class="titulo" for="contrase単a" >Contrase単a</label>
            <input class="entradas" type="text" name="contrase単a"  placeholder="Contrase単a">
        </fieldset>

        <% if (locals.errors && errors.password) { %>
          
            <p class ="feedback-errors">* <%= errors.password.msg %></p>

    <% } %>
    
            <fieldset class="button">
                <input class="button-1" type="submit" name="enviar" id="" placeholder="Enviar">
                
                
            </fieldset>
    
    </form>

</main>



<%- include("../../includes/footer")  %>


</body>
</html>

